@font-face {
  font-family: "Gilroy-Regular";
  src: url("../fonts/Gilroy-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.ttf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Regular", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

/* Adicione isso ao seu arquivo de estilo (Navbar.css) */
.no-scroll {
  overflow: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10vw;
  position: absolute;
  z-index: 10;
  width: 100%;
}
nav {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .link {
  display: flex;
  color: #1b1c1e;
  margin: 0 2vw;
  font-size: 0.875rem;
  text-decoration: none;
  font-family: "Gilroy-Medium", sans-serif;
  position: relative;
  height: 100%;
  text-align: center;
  align-items: center;
}

.link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #1b1c1e;
  position: absolute;
  bottom: 0;
  left: 50%; /* Alterado para iniciar do centro */
  transform: translateX(-50%); /* Adicionado para centralizar o sublinhado */
  transition: width 0.4s ease;
}

.link:hover::after {
  width: 100%;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  visibility: hidden;
  display: none;
  color: black;
  opacity: 0;
  font-size: 1.8rem;
}
.text-not {
  text-decoration: none;
}

.text-not h1 {
  align-items: center;
  justify-content: center;
  display: flex;
}

code {
  position: relative;
  z-index: 2;
  font-size: 1.8rem;
  background-clip: text;
  color: transparent;
  text-decoration: none;
  background-image: radial-gradient(
    circle,
    #fb0b89,
    #f5006d,
    #eb0053,
    #de0039,
    #cf0c20
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.icone-user {
  align-items: end;
  color: #1b1c1e;
  font-size: 1.5vw;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    display: block;
    width: 100%;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 1rem;
    background: #f3f3ff;
    transition: 1s ease;
    transform: translateY(-100vh);
    z-index: 100;
  }

  header .responsive-nav {
    transform: none;
    padding: 8rem 0;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12vw;
  }

  nav a {
    font-size: 1.5rem;
  }

  .pointer {
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text-not {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .icone-user {
    align-items: end;
    color: #1b1c1e;
    font-size: 1.8rem;
  }

  code {
    position: relative;
    z-index: 2;
    font-size: 1.8rem;
    background-clip: text;
    color: transparent;
    text-decoration: none;
    background-image: radial-gradient(
      circle,
      #fb0b89,
      #f5006d,
      #eb0053,
      #de0039,
      #cf0c20
    );
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  header {
    padding: 0 5vw;
  }
  nav .link {
    display: flex;
    color: #1b1c1e;
    margin: 0 2vw;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 600;
    position: relative;
    height: 12%;
    text-align: center;
    align-items: center;
  }
}
