.diminuir-argus {
  width: 80%;
  margin-left: 2vw !important;
}

.argus-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
  margin-bottom: 5vw;
}

.argus-title {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.argus-title p {
  width: 60%;
}

.argus-img {
  width: 50%;
}

.argus-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.argus-text-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4vw;
  margin-top: 5vw;
}
.argus-text p {
  width: 80%;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  color: #1b1c1ea2;
  margin-top: 5vw;
}

.final-text {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #1b1c1e;
  font-size: 1.6rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  margin-top: 5vw;
}

.argus-text {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.argus-imgs img {
  object-fit: contain;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.argus-imgs {
  width: 75%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 4vw;
}

.argus-final {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2vw;
  justify-content: center;
  align-items: center;
}

.argus-img-final {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
}

.argus-video {
  display: flex;
  width: 100%;
  justify-content: start;
  align-items: center;
}

.argus-title h2 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #1b1c1e;
  font-size: 1.6rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
}

.argus-title p {
  width: 80%;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  color: #1b1c1ea2;
}

.argus-video video {
  width: 80%;
  height: 80%;
}

.argus-img-final img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.seta-argus {
}

.size {
  font-size: 4vw;
  color: #1b1c1e;
}

@media screen and (max-width: 767px) {
  .size {
    font-size: 8vw;
    color: #1b1c1e;
  }
  .argus-title p {
    width: 90%;
    text-align: left;
  }

  .argus-img {
    width: 90%;
  }

  .argus-title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
  }
  .argus-text p {
    width: 90%;
    text-align: left;
    margin: 0;
    font-weight: 500;
    font-size: 1rem;
    font-family: "Gilroy-Medium", sans-serif;
    word-spacing: 0.2em;
    color: #1b1c1ea2;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .argus-imgs {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vw;
  }
  .argus-imgs img {
    object-fit: contain;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  .final-text {
    width: 100%;
    text-align: center;
    margin: 0;
    color: #1b1c1e;
    font-size: 2rem;
    font-family: "Gilroy-Medium", sans-serif;
    word-spacing: 0.2em;
    margin-top: 3rem;
  }
  .argus-final {
    width: 90%;
    height: 100%;
    display: flex;
    gap: 10vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  .argus-img-final {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .argus-video {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .argus-video video {
    width: 100%;
    height: 100%;
  }

  .argus-img-final img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
}
