.diminuir {
  width: 65%;
  margin-right: 4vw !important;
}

@media screen and (max-width: 767px) {
  .diminuir {
    width: 90%;
    margin-right: 4vw !important;
  }

  #auth {
    margin-right: -23%;
    position: relative;
  }
}
