@font-face {
  font-family: "Oblivian Text Bold";
  src: local("Jörg Schmitt - Oblivian Text Bold"),
    url("./fonts/Jörg Schmitt - Oblivian Text Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Oblivian Text Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Oblivian Text Regular"),
    url("./fonts/Jörg Schmitt - Oblivian Text.woff") format("woff");
}

@font-face {
  font-family: "Oblivian Text Black";
  src: local("Jörg Schmitt - Oblivian Text Black"),
    url("./fonts/Jörg Schmitt - Oblivian Text Black.woff") format("woff");
  font-weight: black; /* Ou utilize 'black' se preferir */
  font-style: normal;
}

@font-face {
  font-family: "Oblivian Text Regular Italic";
  src: local("Jörg Schmitt - Oblivian Text Regular Italic"),
    url("./fonts/Jörg Schmitt - Oblivian Text Regular Italic.woff")
      format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OceanWide Regular";
  src: local("Oceanwide-Semibold"),
    url("./fonts/Oceanwide-Semibold.otf") format("otf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Oblivian Text Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Oblivian Text Thin"),
    url("./fonts/Jörg Schmitt - Oblivian Text Thin.woff") format("woff");
}

@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/Gilroy-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/Gilroy-Medium.ttf") format("opentype");
}

.circle {
  position: absolute;
  top: 10vw;
  left: 8vw;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.15;
  background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
}
.circle2 {
  position: absolute;
  top: 35vw;
  right: 2vw;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  filter: blur(150px);
  opacity: 0.15;

  background: linear-gradient(to bottom, #ff0099 40%, #6f00ff 50%);
}

.circle3 {
  position: absolute;
  top: 53vw;
  left: 8vw;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(80px);
  opacity: 0.15;

  background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
}

.main {
  display: flex;
  flex-direction: column;
  background: #f3f3ff;
  box-sizing: border-box;
  width: 100%;

  min-height: 100vh;
  margin: 0;
  padding: 0 0 0 0;
  overflow: hidden;
  gap: 9rem;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 70px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
  overflow: hidden;
}

code {
  font-size: 2.2vw;
  background-clip: text;
  color: transparent;
  background-image: radial-gradient(
    circle,
    #fb0b89,
    #f5006d,
    #eb0053,
    #de0039,
    #cf0c20
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.links {
  display: flex;
  gap: 2vw;
}

.links a {
  text-decoration: none;
  color: #1b1c1e;
  font-family: "Inter", sans-serif;
  font-size: 1vw;
  font-weight: 500;
}

.icone-user {
  align-items: end;
  color: #1b1c1e;
  font-size: 1.5vw;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 100vw;
  height: 100%;
  align-items: center;
  z-index: 2;
}

.title h2 {
  font-family: "Oblivian Text Bold", sans-serif;
  color: #1b1c1e;
  font-size: 4rem;
  margin: 0;
}

.title h1 {
  font-family: "Oblivian Text Black", sans-serif;
  font-size: 6rem;
  margin: 0;
  background-clip: text;
  color: transparent;
  background-image: radial-gradient(
    circle,
    #fb0b89,
    #f5006d,
    #eb0053,
    #de0039,
    #cf0c20
  );
}
.title p {
  font-family: "Oblivian Text Normal", sans-serif;
  color: #1b1c1ea2;
  font-size: 0.875rem;
  margin: 0 32vw;
  text-align: center;
}

.link-social {
  margin-top: 1vw;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.link-social a {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 0.5% 2% 0.5% 1%;
  font-family: "Oblivian Text Normal", sans-serif;
  color: #1b1c1ea2;
  font-size: 0.875rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2vw;
  border-radius: 2px;
}

.about-me {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.about-me h2 {
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  font-size: 1.6rem;
  color: #1b1c1e;
}

.text-img {
  display: flex;
  width: 65%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.text-img p {
  width: 100%;
  height: 100%;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  font-size: 1rem;
  color: #1b1c1ed0;
  z-index: 10;
}

.img-bola {
  width: 15rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 1.1rem solid white;
}

.img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.img-bola img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 60%; /* Substitua esses valores conforme necessário */
}

.projects {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.projects-container-2 {
  display: flex;
  width: 65%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.projects-container-3 {
  display: flex;
  gap: 2vw;
  width: 65%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.title-projects h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #1b1c1e;
  font-size: 1.6rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
}

.title-projects h2 {
  width: 25%;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  color: #1b1c1ed0;
}

.project-container {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  background: #f3f3ff;
  padding: 8px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  transition: transform 0.5s ease;
  cursor: pointer;
}
.project-container:hover {
  transform: scale(1.02);
}

.project-container img {
  width: 100%;
  height: auto;
  margin-bottom: 0.8vw;
  border-radius: 5px;
  z-index: 2;
}

.project-container h2 {
  color: #4d4d53;
  margin: 0;
  width: 100%;
  z-index: 2;
  font-family: "Gilroy-Regular", sans-serif;
  word-spacing: 0.2em;
  font-size: 1.4vw;
}
.project-container p {
  margin: 0;
  color: #4d4d53;
  width: 100%;
  margin-bottom: 0.5vw;
  z-index: 2;
  font-size: 1.2vw;
}
.card-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.tec-icons {
  display: flex;
  gap: 1vw;
  font-size: 1.2vw;
}

.btn-show {
  border: 1px solid #4d4d53;
  padding: 1% 1.5%;
  width: 7vw;
  text-align: center;
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: 20px;
  color: #4d4d53;
  font-size: 1vw;
}

.circle4 {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: 1;
  z-index: 1;
  background: linear-gradient(to bottom, #39c0ff 50%, #6f00ff 80%);
}
.circle5 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: 1;
  z-index: 1;
  background: linear-gradient(to bottom, #fa39ad 40%, #fe6c4c 50%);
}

.circle6 {
  position: absolute;
  top: 15%;
  left: 90%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(50px);
  opacity: 1;
  z-index: 1;
  background: linear-gradient(to bottom, #8400ff 40%, #e3c6ff 50%);
}
.circle7 {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.3;
  z-index: 1;
  background: linear-gradient(to bottom, #8400ff 10%, #ffffff 20%);
}

.skills {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2vw;
}

.skill-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-title h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  color: #1b1c1e;
  font-size: 1.6rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
}

.skill-title h2 {
  width: 80%;
  text-align: center;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  color: #1b1c1ed0;
}

.skill-containers {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3vw;
}

.skill-containers-2 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.skill-containers-3 {
  width: 65%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.skill-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5%;
  gap: 1.2vw;
}

.skill-img {
  width: 100%;
  height: 15vw;
  border-radius: 5 px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.skill-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.skill-container h2 {
  color: #1b1c1e;
  font-size: 1.2vw;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  margin: 0;
}

.skill-container p {
  color: #1b1c1ed0;
  font-size: 1vw;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  margin: 0;
  width: 100%;
  height: 100%;
  line-height: 1.3; /* Ajuste o valor conforme necessário */
}

.certificate {
  color: #1b1c1e;
  font-size: 1.2vw;
  font-family: "Gilroy-Medium", sans-serif;
  border: 1px solid #1b1c1e;
  width: 10vw;
  display: flex;
  align-items: center;
  gap: 1vw;
  height: 2vw;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px;
}

.text-skill {
  width: 100%;
  height: 13vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1vw;
}

.skill-containers-2 .text-skill {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1vw;
}

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

.contact-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.contact-title h1 {
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  margin: 0;
  color: #1b1c1e;
  font-size: 1.6rem;
}

.contact-title p {
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
  margin: 0;
  width: 40%;
  text-align: center;
  color: #1b1c1ed0;
  font-size: 1rem;
}

.contacts-type {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1vw;
}

.contact-type {
  display: flex;
  align-items: center;
  width: 30%;
  border: 1px solid #1b1c1ea2;
  padding: 1%;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.contact-content {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1vw;
  color: #1b1c1e;
  font-family: "Gilroy-Medium", sans-serif;
  word-spacing: 0.2em;
}

.contact-icon {
  width: 0%;
  color: #1b1c1e;
}

.footer {
  width: 100%;
  height: 280px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-contents {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.footer-padding {
  display: flex;
  width: 80%;
  gap: 3vw;
  justify-content: center;
}

.footer-title {
  width: 100%;
  text-align: center;
  color: rgb(212, 212, 212);
  font-family: "Gilroy-Regular", sans-serif;
  word-spacing: 0.2em;
  font-size: 1.5vw;
  margin: 0 0 1vw 0;
}

.footer-links {
  width: 100%;
  color: rgb(255, 255, 255);
  font-family: "Gilroy-Regular", sans-serif;
  word-spacing: 0.2em;
  font-size: 1vw;
  margin: 0;
}

.footer-links-contacts {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.left {
  left: 10px;
  position: relative;
}

.white {
  color: white;
}

.white-text {
  color: white;
  font-family: "Gilroy-Regular", sans-serif;
  word-spacing: 0.2em;
  font-size: 1vw;
}
